html {
    background-color: rgb(235, 117, 8);
}

h1  {
    color: yellow;
}

.easy {
    color: green;
    background-color: rgb(89, 255, 47);
    width: 445px;
}

.medium {
    color: blue;
    background-color: rgb(47, 255, 175);
    width: 445px;
}

.hard {
    color: red;
    background-color: rgb(238, 103, 69);
    width: 445px;
}

.row {
    box-sizing: content-box;
}

.clm {
    float: left;
    width: 33.33%;
    padding: 0px;
}

.clm img {
    height: 300px;
    width: 100%;
}

h1,
h3,
.center {
    text-align: center;
}